{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    {{ form_start(profilForm) }}
        {{ form_row(profilForm.firstName, {
            label: 'Prénom'
        }) }}
        {{ form_row(profilForm.lastName, {
            label: 'Nom'
        }) }}
        {{ form_row(registrationForm.birthDay, {
            label: 'Date de Naissance'
        }) }}
        {{ form_row(profilForm.adressPost, {
            label: 'Adresse Postale'
        }) }}
        {{ form_row(profilForm.email, {
            label: 'email'
        }) }}
        {{ form_row(profilForm.plainPassword, {
            label: 'Mot de passe'
        }) }}

        <button type="submit" class="btn">Valider</button>
        <button type="cancel" class="btn">Annuler</button>
    {{ form_end(profilForm) }}

{% endblock %}
