{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    {{ form_start(ProfilForm) }}
        {{ form_row(ProfilForm.firstName, {
            label: 'Prénom'
        }) }}
        {{ form_row(ProfilForm.lastName, {
            label: 'Nom'
        }) }}
        {{ form_row(ProfilForm.birthDay, {
            label: 'Date de Naissance'
        }) }}
        {{ form_row(ProfilForm.adressPost, {
            label: 'Adresse Postale'
        }) }}
        {{ form_row(ProfilForm.email, {
            label: 'email'
        }) }}
        {{ form_row(ProfilForm.plainPassword, {
            label: 'Mot de passe'
        }) }}

        <button type="submit" class="btn">Valider</button>
        <button type="cancel" class="btn">Annuler</button>
    {{ form_end(ProfilForm) }}

{% endblock %}
